/* ====== GERAL ========================*/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --Primary-Colors-brand-green: hsla(205, 99%, 14%, 1);
    --Secondary-Colors-gray-headline: hsla(210, 11%, 15%, 1);
    --Secondary-Colors-gray-paragraph:hsla(210, 9%, 31%, 1);
    --Primary-Colors-brand-green-light:hsla(216, 100%, 92%, 1);
    --Primary-Colors-brand-beige:hsla(0, 0%, 94%, 1);
    --Primary-Colors-brand-green-light-02: hsla(223, 88%, 98%, 1);
    --brand-green-hover:hsla(227, 100%, 14%, 1);




    font-size: 62.5%;

    --nav-height: 7.2rem;
}

html,body{
    width: 100%;
    height:100%
}

html {
    scroll-behavior: smooth;
    width: fit-content;
}

body {
    font-family: 'DM Sans';
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;

    overflow: overlay;
    background-color: var(--Primary-Colors-brand-green-light-02) ;
    
 }

 ul{
   list-style: none;  
 }

 .wrapper {
     width: min(50rem, 100%);
     margin-inline: auto;
 }

/*======== HEADER ==============*/

header{
    margin-top: calc(4.3rem);
}

header#home::before{
    content:"";
    width: 100%;
    height:calc(132.5rem + var(--nav-height));
    background-color:var(--Primary-Colors-brand-green-light);
    display:block;

    position: absolute;
    top: -116px;
    left: 0;
    z-index: -1;
}


header h4{
    font-size: 1.4rem;
    color: var(--Primary-Colors-brand-green);
    letter-spacing: 0.08rem;
   
}

header h1{
    font-size: 3.4rem; 
    color: var(--Secondary-Colors-gray-headline);
    line-height: 130%;

    margin-top: 2.4rem ;
    margin-bottom: 2.4rem;
    margin-left: 2.3rem;
    margin-right: 2.3rem;   
}

header#home p{
    font-size:1.8rem ;
    color: var(--Secondary-Colors-gray-paragraph);
    line-height: 150%;
    padding-inline: 2.4rem;
   
}

header a.button-home{
    background-color: var(--Primary-Colors-brand-green);
    border-radius: 4.8rem;
    border: 3px solid #D7E7FF;
    margin-bottom: 3.3rem;
    margin-top: 3.3rem;
    margin-left: auto;
    margin-right: auto ;
    width: 24.8rem;
    height: 5.2rem;
    cursor: pointer;
    text-decoration: none;
    

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:1.4rem ;
    gap: 1.6rem;
}

header a.button-home:hover{
    border: 3px solid;
    border-color: var(--Primary-Colors-brand-green);;
}

.col-b img{
    margin-left: 14.7rem;
    
}

.attributes{
    background-color:var(--Primary-Colors-brand-beige);
    height: 82.9rem;
    margin-inline: 2.4rem;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.3rem;
    border-radius: 0.6rem;
    

}

.attribute p{
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    color:var(--Primary-Colors-brand-green);
    font-size: 1.6rem;
    line-height: 150%;
}



.attribute h3{
    color: var(--Secondary-Colors-gray-headline);
    font-size: 4.8rem;
    line-height: 130%;
    
}





/* ======== NAVIGATION ===========*/


nav div.no-scroll{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 7.2rem;

    padding:1.6rem 2.6rem;
    z-index: 2;
}

nav div.scroll{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content:space-between;
    background-color:var(--Primary-Colors-brand-green);
    width: 100%;
    height: 7.2rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;

    padding:1.6rem 2.6rem;

    z-index: 100 ;
}


/* ======== MENU-EXPANDED ===========*/

body.menu-expanded{
    overflow: hidden !important;
}


.menu,
.close-menu{
    opacity: 0;
    visibility: hidden;
    display:none;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
    opacity: 1;
    visibility: visible;
}


body.menu-expanded #menu-class{
    position: fixed;
    top:0;
    left:0;
    background: var(--Primary-Colors-brand-green);

    width: 100%;
    height: 100%;

}

body.menu-expanded nav{
    position: relative;
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 13.3rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;


}

.menu ul li a{
    color:var(--Primary-Colors-brand-green-light);
    text-decoration: none;
}

.menu .button{
    background: var(--Primary-Colors-brand-green-light);
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--Primary-Colors-brand-green);
    width: 24.0rem;
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 3.2rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 4.8rem ;
    margin-bottom: 5.0rem;
    
}

.menu .button:hover{
    background: var(--Primary-Colors-brand-green);
    color: white;
    filter: brightness(1.1);
    border: 0.1rem solid white;
    padding: 1.5rem;
    
}

.social-midia{
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;

}

body.menu-expanded nav#navigation2{
    display: none;
}

body.menu-expanded a#logo, 
body.menu-expanded .close-menu
{
    position: relative;
    z-index: 1000;
    margin-bottom: 8.6rem;
    background:none;
    border: none;
    cursor: pointer;
    
    
}


body nav div button.open-menu{
    background: none;
    border: none;
    cursor: pointer;
   

}

body.menu-expanded div.menu,
body.menu-expanded .close-menu{
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 0;
    text-decoration: none;
    display: inline-block;
    
}

.close-menu{
    margin-left: 6rem;
}



/* ======== SERVICES ===========*/

#services {
    padding-top: 10px;
    background-color: var (var(--Primary-Colors-brand-green-light-02));
}

#services header h4 {
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08rem;
    margin-right: 20.9rem;
    margin-left: 2.4rem;
    margin-top: 8.6rem;
    

    width: 7.6rem;
}

#services header h2 {
    width: 31.4rem;
    height: 7.8rem;

    font-size: 3.0rem;
    line-height: 3.9rem;

    margin: 0 3.1rem;
    margin-bottom: 3.5rem;

}

.cards {
    
    margin: 0 2.4rem;
    margin-bottom: 3.2rem;
}

.cards div.card{
    
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.4rem;
    gap: 1.6rem;
    border: 0.1rem solid #D7E7FF;
    border-radius: 0.6rem;

    margin-bottom: 3.1rem;

}

div.card svg{
    width: 2.4rem;
    height: 2.4rem;
}

div.card h3{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;

    text-align: left;
}

div.card p{
    font-size: 1.6rem;
    line-height: 150%;

    text-align: left;
}



/* ======== About ===========*/

#about {
    padding-top: 1.0rem;
    background-color: var(--Primary-Colors-brand-beige);
}

#about header h4 {
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08rem;
    margin-right: 20.9rem;
    margin-left: 2.4rem;
    margin-top: 8.6rem;
    

    width: 8.6rem;
}

#about header h2 {
    width: 32.7rem;
    height: 7.8rem;

    font-size: 3.0rem;
    line-height: 3.9rem;

    margin: 0 2.4rem;
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
    text-align: left;
}

#about header p {
    font-size: 1.6rem;
    line-height: 150%;
    text-align: left;
    margin: 0 2.4rem;
    padding-bottom: 37.0rem;
}

#image2 {
    width: 299px;
    height: 407px;
    position: relative;
    top: -34.5rem;
    object-fit: cover;
}

/* ======== CONTACT ===========*/

#contact {
    margin-top: -39.5rem;
}

#contact h2{
    font-size: 3.0rem;
    line-height: 3.9rem;

    margin-inline: 2.4rem;
    padding-top: 8.9rem;
    margin-bottom: 2.4rem;
    text-align: left;
}

#contact a.button-contact {
    background-color: var(--Primary-Colors-brand-green) ;
    border-radius: 4.8rem;
    margin-bottom: 6.0rem;
    margin-top: 3.3rem;
    margin-left: auto;
    margin-right: auto ;
    width: 24.8rem;
    height: 5.2rem;
    border: 3px solid white;
    cursor: pointer;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:1.4rem ;
    gap: 1.6rem;
}

#contact a.button-contact:hover {
    border: 3px solid var(--Primary-Colors-brand-green);
   
}

#adress1 {
    display: flex;
    align-items: center;
    justify-content:left;
    margin-left: 2.4rem;
    margin-bottom: 1.6rem;
}
#adress2 {
    display: flex;
    align-items: center;
    justify-content:left;
    margin-left: 2.4rem;
    margin-bottom: 6.0rem;
}

#contact p {
    margin-left: 0.8rem;

    font-size: 1.6rem;
    line-height: 150%;
    color: #495057;
    width: 14.0rem;
    height: 2.4rem;
}



/* ======== FOOTER ===========*/

#footer {
    
    height: 28.5rem;
    background-color: var(--Primary-Colors-brand-green);
}

#footer div.wrapper {
    padding-top: 6.9rem;
    padding-left: 2.1rem;

    text-align: left;
}

#footer img {
    height: 4.535rem;
}

#footer p {
    margin-bottom: 1.2rem;
    color: var(--Primary-Colors-brand-beige);
    font-size: 1.6rem;
    line-height: 2.1rem;
}

#footer ul {
    display: flex;
    align-items: center;
    
}

#footer li {
    width: 2.4rem;
    margin-top: 3.1rem;
   
}

#footer a.midia2 {
    margin-left: 2.6rem;

   
}

/*======== BUTTON BACK TO TOP ==============*/

div.button-up {
    width:100%;
    position: fixed;
    bottom: 1%;
    padding-left: 85%;
    filter:drop-shadow(-2px 3px 3px rgb(0, 0, 0));
}

div.button-up svg:hover {
    height:45px;
    width:45px;
    
}

div.button-up svg circle,
div.button-up svg path{
    fill: var(--Primary-Colors-brand-green);
    
}


/*======================================== RESPONSIVO =============================================*/
@media (min-width: 1024px) {
    
/*======== GERAL ==============*/

body {
    overflow: auto;
}

.wrapper {
    width: min(112rem, 100%);
}

/*======== NAVIGATION ==============*/

/* RESET */

nav#navigation div.scroll *,
nav#navigation2 div.no-scroll *   {
    margin: 0;
    padding: 0;
    visibility:initial;
    opacity: initial;
    display: initial;
    font-size: initial;
    flex-direction: initial;
    position:initial;
    transform: initial;
    color: initial;
    background: initial;
    font-weight: initial;
    
}   

nav#navigation div.scroll .close-menu,
nav#navigation2 div.no-scroll .close-menu,
nav#navigation div.scroll .open-menu,
nav#navigation2 div.no-scroll .open-menu,
nav#navigation div.scroll ul.social-midia li {
    display: none;
}

nav#navigation div.scroll .menu,
nav#navigation2 div.no-scroll .menu  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64.5%;
}

nav#navigation div.scroll .menu{
    display: grid;
    grid-template-columns: 5fr 2fr;
}

nav#navigation2 div.no-scroll .menu{
    display: grid;
    grid-template-columns: 5fr 2fr;
}

nav#navigation div.scroll .menu .button,
nav#navigation2 div.no-scroll .menu .button{
    height: 3.8rem;
    width: 19.6rem;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;

    
}

nav#navigation2 div.no-scroll .menu .button{
    color: var(--Primary-Colors-brand-green);
    border: 1px solid var(--Primary-Colors-brand-green);
    border-radius: 40px;
    padding: 10px 24px;
    margin-right: 2.6rem;
}

nav#navigation div.scroll .menu .button{
    color: var(--Primary-Colors-brand-green-light);
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    padding: 10px 24px;
    margin-right: 2.6rem;
}

nav#navigation div.scroll .menu ul,
nav#navigation2 div.no-scroll .menu ul {
    display: flex;
    gap: 3.2rem
}

nav#navigation2 div.no-scroll .menu ul li a {
    font-size: 16px;
    line-height: 21px;
    color: var(--Primary-Colors-brand-green);
    
    
    opacity: 0.7;
    width: 36px;
    

}

nav#navigation div.scroll .menu ul li a {
    font-size: 16px;
    line-height: 21px;
    color: var(--Primary-Colors-brand-green-light);
    
    opacity: 0.7;
  

}

nav#navigation div.scroll .menu ul li a.active,
nav#navigation2 div.no-scroll .menu ul li a.active,
nav#navigation div.scroll .menu ul li a:hover,
nav#navigation2 div.no-scroll .menu ul li a:hover {
    opacity: 1;
    font-weight: 700;
   transition: opacity 0.4s
      
}


nav#navigation2 div.no-scroll .menu ul li a::after,
nav#navigation2 div.no-scroll .menu ul li a::after {
    content:'';
    width: 0%;
    height: 2px;
    background-color: var(--Primary-Colors-brand-green);
    display: block;
    position:relative;
    bottom: -2rem;
    left: -0.7rem;
    
    transition: width 0.2s;

}


nav#navigation div.scroll .menu ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background-color: var(--Primary-Colors-brand-green-light);
    display: block;
    position:relative;
    bottom: -2rem;
    left: -0.7rem;
    transition: width 0.2s;
}

nav#navigation div.scroll .menu ul li a.active::after,
nav#navigation2 div.no-scroll .menu ul li a.active::after,
nav#navigation2 div.no-scroll .menu ul li a:hover::after,
nav#navigation div.scroll .menu ul li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;

}




nav#navigation2 div.no-scroll .menu .button:hover{
    background: var(--Primary-Colors-brand-green);
    color: var(--Primary-Colors-brand-green-light)
}

nav#navigation div.scroll .menu .button:hover{
    background: var(--Primary-Colors-brand-green-light);
    color: var(--Primary-Colors-brand-green)
}


/*======== HOME ==============*/


#home .wrapper{
    display: grid;
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas: 
    'A B'
    'C C';

}

#home .col-a {
    grid-area: A;
    text-align: left;
    align-self: center;
    
}

#home .wrapper h1 {
    font-size: 52px;
    line-height: 130%;
    margin-right: 0;
}

#home .wrapper p { 
    font-size: 18px;
    line-height: 150%;
}

#home .wrapper h4 {
    padding-left: 2.3rem;
    
}

#home .wrapper a {
    margin-left: 2.3rem;
}

#home .col-b {
    grid-area: B;
    
}

#home .col-b img{
    width: 50.6rem;
    height: 75.3rem;
    position: relative;
    /* right: -133px; */
    bottom: -35px;
    margin-left: 0;
}

#home .attributes {
    grid-area: C;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3rem;
    gap: 0;
    z-index: 10000;
    position: relative;
    top: -95px;
}

#home .attributes .attribute + .attribute {
    border-left: 1px solid var(--Primary-Colors-brand-green);

}

#home .attributes #A {
    align-self: center;
}

#home .attributes #C {
    padding-inline: 30px;
    align-self: center;
}

#home .attributes .fusion {
    gap: 2rem;
    border-left: 1px solid var(--Primary-Colors-brand-green);
    align-self: center;
}

#home .attributes .fusion #E {
    margin-top: 31px;
    border: none
}

#home .attributes .fusion h3 {
font-size: 35px;
line-height: 130%;
}

#home .attributes .fusion p {
    font-size: 11px;
} 

header#home::before {
    height:calc(83.2rem + var(--nav-height));
    width: 100%;
}


/*======== SERVICES ==============*/


#services header h2 {
    width: 100%; 
    height: 100%;
    font-size: 3.0rem;
    line-height: 3.9rem;
    margin: 0 3.1rem;
    margin-bottom: 3.5rem;
}

#services .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-auto-flow: dense;
     
    gap: 40px;
}

#services .cards #cardA{
    grid-column: span 2;
}

#services .cards #cardB{
    grid-column: span 2;
}

#services .cards #cardC{
    grid-column: span 2;
}

#services .cards #cardD{
    grid-column: span 3;
    margin-left: 180px;
}

#services .cards #cardE{
    grid-column: span 3;
    margin-right: 180px;
}


/*======== ABOUT ==============*/

#about{
    display: grid;
    grid-template-columns: 1fr 60% ;
    grid-template-areas: 'A B';
    height: 73.4rem;
}

#about .wrapper{
    grid-area: B;
    align-self: center;
    padding-right: 12.3rem;
}

#about #image2 {
    grid-area: A;
    position: static;
    align-self: center;
    justify-self: center;
    width: 36.5rem;
    height: 53.0rem;
}

#about .wrapper h4 {
    margin-top: 0;
}

#about .wrapper p {
    padding-bottom: 0;
}

/*======== CONTACT ==============*/

#contact {
    margin-top: 0;
   
}

#contact h2 {
    font-size: 40px;
    line-height: 52px;
    padding-right: 637px;
    margin-bottom: 4.4rem;

}

#contact a.button-contact {
    margin-left: 24px;
}


/*======== FOOTER ==============*/

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
}

#footer .wrapper {
    grid-area: A;
    align-self: center;
    justify-self: center;
}

#footer .social-midia2 {
    grid-area: B;
    align-self: center;
    justify-self: center;
    justify-self: end;
    margin-right: 100px;
}


#footer .social-midia2 li{
    width: 10rem
}


#footer .social-midia2 li a svg{

    width: 50px;
    height: 50px;

}

#footer .social-midia2 li a.midia svg{

    width: 54px;
    height: 54px;

}

#footer div.wrapper{
    padding-top: 0;
    text-align: initial;
    padding-left: 10rem;
}

#footer .wrapper img {
    height: 7.5rem;
    margin-left: -5px;
}




div.button-up{
    width:110%;
    padding-left: 84%;;
}

#buttonUp svg{

    width: 50px;
    height: 50px;
} 

}